# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cargo/*

src-cpp/*.user
src-cpp/*.user.*
src-cpp/*.autosave
src-cpp/SimpleTaskQueue
src-cpp/out
src-cpp/.vs
src-cpp/*.exe
src-cpp/*.dll
src-cpp/build
src-cpp/CMakeUserPresets.json
src-cpp/compile_commands.json
src-cpp/.cache
src-cpp/.cache/*
src-cpp/.vscode
src-cpp/.qtcreator
src-cpp/.qtcreator/*
