/* You can add global styles to this file, and also import other style files */

.CommonText
{
    text-align:center;
    font-size: 16px;
}

.HeaderTab
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 24px;
    margin: 0 -24px;
    cursor: pointer;
}
